* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
  }



nav {
    width: 20%;
    background: rgb(56, 56, 56);
    position: relative;
    height: 100vh;
    min-height: 360px;
    position: fixed;
    float: left;
    overflow-y: scroll;
    
    
}

.logo img {
    width: 50%;
    max-width: 250px;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    
}

.middle-nav {
     display: flex; 
    justify-content: center;
    align-items: center; 
    
    height: 86%;
  
}

.middle-nav ul {
    
    text-align: center;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    
}

.middle-nav ul li {
    padding-top: 1.5rem;
    color: rgb(247, 237, 207);
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 15px;
    
}



.middle-nav ul li a {
    color: inherit;
    transition: .5s;
    position: relative;
    padding: 8px;
    text-decoration: none;

}
.fromCenter a:hover:before {
    width: 100%;
    transform: scaleX(1);
    transform-origin: left
}
.fromCenter a:before{
    content: "";
    border-bottom: 1px solid white;
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .6s
}


.fromCenter a:hover:after {
    width: 100%;
    transform: scaleX(1);
    transform-origin: right
}
.fromCenter a:after{
    content: "";
    height: 2px;
    border-bottom: 1px solid white;
    width: 0%;
    /* transition: .6s; */
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .6s

}


.book-button {
    position: absolute;
    bottom: 0;
    /* background: rgb(255, 250, 226); */
    width: 100%;
    text-align: center;
    align-items: center;
    height: 100px;
    /* line-height: 100px; */
    vertical-align: middle;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.book-button:hover {
    opacity: .7;
    transition: .3s ease-in-out
 
}



 .book-button p {
    font-weight: 300;
    letter-spacing: 2px;
    position: absolute;
    top: 20%;
    /* left: 50%; */
     /* transform: translateX(80%); */
    transform: translateY(35%);
    color: rgb(27, 27, 27);
    border: 1px solid rgba(88, 83, 83, .4);
    padding: 5px;
   

} 

.main-page {
    width: 80%;
    float: right;
    position: relative;
    
}

.carousel {
    height: 100vh;
    width: 100%;
   
    
   
}

.carousel-inner img{
    /* height: 100vh; */
    height: 100vh;
    opacity: 0.8
}




@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1.5, 1.5);
    }
    to {
      -webkit-transform: scale(1, 1);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1.2, 1.2);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  /* .carousel-inner .carousel-item  {
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
  } */

  .carousel-item img{
      position: absolute;
      z-index: -999
  }



  .carousel-caption  {
    position: absolute;  
    top: 55%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;  
  }

  .carousel-item:nth-child(1){
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center;
  }
 .carousel-caption p {
    font-size: 4rem;
    position: absolute; 
    left: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
     }
   
    
     ol.carousel-indicators {
        position: absolute;
        bottom: 20%;
        margin: 0;
        left: 0;
        right: 70%;
        width: auto;
        
     }
     
     ol.carousel-indicators li,
     ol.carousel-indicators li.active {
        
        width: 1rem;
        height: 1rem;
        margin: 0;
        /* border-radius: 50%; */
        border: 0;
        background: transparent;
        margin-right: 2.5rem;
        transform: rotate(45deg)
     }
     
     ol.carousel-indicators li {
        background: rgba(255,255,255,0.39);
        
        
        
     }
     
     ol.carousel-indicators li.active {
        background: rgb(255, 255, 255);
     }


     /* MENU SECTION */

     .menu {
        background: rgb(241, 236, 210);
        /* background-image: url("background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
        width: 100%;
        position: relative;
        /* margin-bottom: 40px; */
    }

    .hr-menu{
        height: .2px !important;
        border-top: 0 !important;
    }

    

     .food-item {
         font-size: 15px;
         display: flex;
         justify-content: space-between;
         margin-right: 30px;
         
     }

     .food-description {
         display: flex;
        align-items: flex-start;
        font-size: 10px;
        font-style: italic
     }

     .food-main {
         margin-top: 20px;
     }

     .container-fluid hr {
        background-color: black;
        height: 2px;
    }

    .menu-text {
        margin-top: 80px;
        margin-bottom: 100px;
        margin-left: 20px;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #333;
        letter-spacing: 4px;
        font-weight: bold
    }
    
    .main-course {
        display: flex;
        justify-content: flex-start;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: -20px;
        font-size: 1.5rem;
    }

    #main-c {
        transition: 0.5s 
    }

    .food-item p:nth-child(1){
        text-transform: uppercase;
    }

    #main-course {
        width: 95%;
        /* float: right */
        margin-left: 20px;
        overflow-x: hidden;
    } 

   .menu-sidebar {
       width: 5%;
       height: 100vh;
       background: rgb(252, 252, 252);
       float: left;
       position: sticky;
       position: -webkit-sticky;
       /* left: 20%; */
       top:0;
       z-index: 34444;
       align-items: center;
       justify-content: space-evenly;
       display: flex;
       flex-direction: row ;
       float: left;
       
       
    }
    

   .sticky-flex ul {
    transform: rotate(-90deg);
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    align-items: center;
    font-size: 16px;
    /* position: absolute; */
    
   }
   .sticky-flex li {
    margin-right: 90px;
    list-style-type: none;
    color: rgb(224, 214, 214);
    text-align: center;
    letter-spacing: 3px;
    font-weight: 100;
    cursor: pointer
   } 

   .sticky-flex li a{
    color: black;
   } 


   .drinks {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: -20px;
    font-size: 1.5rem;
    width: 95%;
    /* float: right */
    margin-left: 20px;
    overflow-x: hidden;
    
   
    
   }

   .dessertblock {
       display: block ;
   }
 
   .remove {
       display: none;
   }


   .carousel-item:nth-child(1){
    background-image: url("pic1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

   .carousel-item:nth-child(2){
    background-image: url("pic2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   
   .carousel-item:nth-child(3){
    background-image: url("pic3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
   
   .carousel-item {
       height: 100vh;
   }
   
   .white, .red {
       margin-bottom: 30px;
   }


   .the-restaurant {
       background: rgb(255, 255, 255);
       margin-top: 5%;
   }

   .about-us p {
       font-weight: 100;
       letter-spacing: 3px;
       font-size: 15px;
       user-select: none;
   }

   .about1 {
       margin: 30px;
   }

  .row {
      margin-left: 0px !important;
      margin-right: 0px !important
  }

  .gallery {
    margin-top: 50px;
    z-index: 999999
  }

.col-sm-4 {
      padding-right: 0 !important;
      padding-left: 0 !important
  }

  figure {
      margin: 0 !important;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    background: rgb(248, 248, 236)
  }

  .contact-bg {
    background: rgb(248, 248, 236)
  }

  .address p {
      font-weight: 100;
      letter-spacing: 2px;
        margin-bottom: -2px;
        opacity: .8

  }

  .opening {
      margin-top: 80px;
      margin-bottom: 200px;
  }

  #nameform, #emailform {
      width: 400px !important;
  }

.btn-send {
    width: 400px;
    background: rgb(41, 39, 39) !important;
    align-items: center;
    color: white !important;
    font-weight: 100 !important;
    height: 35px;
    
   
}

.btn-send:focus{
    outline: none;
    box-shadow: none;
    border: none;
}


.address h5 {
    margin-bottom: 47px;
    font-size: 1.2rem
}

.hr {
    margin-top: 80px;
    height: .5px !important;
}



#nameform::placeholder,
#emailform::placeholder,
#textform::placeholder {
    font-weight: 100;
    opacity: .5
}

#subjectselect {
    font-weight: 100;
    opacity: .6
    
}

.form input, form textarea, #subjectselect {
    outline: none !important;
    box-shadow:none !important;
    border:1px solid #ccc !important;
    border-radius: 0 !important
    }


footer {
    height: 100px;
    background: #E5E3D6;
    /* position: relative; */
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    transform: translateY(-10%);
}

.footer-container p {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: .8rem;

}

.fa-facebook-f {
    margin-right: 20px;
    margin-left: 10px;
}

.footer-container a {
    color: rgb(100, 84, 66);
    font-size: 20px;
}

.footer-container a:hover {
    color: rgb(26, 25, 24);
   
}

.credit a{
    font-size: .8rem;
    
}

